
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(237, 237, 251);
}

.main-content {
  justify-content: center; 
  height: 100%;
  display: grid;
  grid-template-columns: auto auto ;
  gap: 5rem;
}


